.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  padding: 5px 0 5px 0;
}

.scrollo-up__buton {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollo-up__buton-text {
  font-size: 1.5rem;
  color: var(--text-color);
}

.scrollo-up__buton-img {
  max-width: 50px;
}

.footer__disc {
  margin: 10px 0 10px 0;
  font-size: 0.8rem;
}


@media (max-width: 700px) {
  .footer__disc {
    margin: 6px 0 6px 0;
  }
  .scrollo-up__buton-img {
    max-width: 30px;
  }
}

@media (max-width: 500px) {
  .footer__disc {
    margin: 4px 0 4px 0;
  }
}
