.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  padding: 10px 0 10px 0;
}

.scrollo-up__buton {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollo-up__buton-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: var(--text-color);
}

.scrollo-up__buton-img {
  width: 20%;
}

.footer__disc {
  margin: 10px 0 10px 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--text-color);
}

@media (max-width: 1100px) {
  .scrollo-up__buton-text {
    font-size: 22px;
  }
}

@media (max-width: 900px) {
  .scrollo-up__buton-text {
    font-size: 18px;
  }
  .footer__disc {
    font-size: 8px;
    margin: 6px 0 6px 0;
  }
}

@media (max-width: 600px) {
  .scrollo-up__buton-text {
    font-size: 12px;
  }
  .footer__disc {
    font-size: 6px;
    margin: 4px 0 4px 0;
  }
}
