.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    padding-bottom: 20px;
}

#contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 20px;

}

.contacts__title {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: var(--text-color);
}

.contacts__address {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
}

.contact__address-img {
    max-width: 30px;
}

.contact__address-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: 10px;
    color: var(--text-color);
}

.maps {
    background-color: var(--card-color);
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    margin-left: 20px;
}

.maps-text {
    text-align: center;
    margin: 0;
    padding: 0;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 150px;
    width: 150px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 150px;
    width: 150px;
}

#gmap_canvas {
    height: 150px;
    width: 150px;
}

@media (max-width: 900px) {
    .contacts__title {
        font-size: 18px;
    }

    .contact__address-img {
        max-width: 20px;
    }
}


@media (max-width: 600px) {
    .contacts__title {
        font-size: 14px;
    }

    .contacts__address a {
        font-size: 10px;
    }

    .maps {
        margin-left: 0;
    }

    #contcts {
        margin-left: 10px;
    }
}