.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header__img {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: -2;
    opacity: 0.8;
}

.header__title {
    margin-top: 200px;
    text-shadow: var(--shadow-color) 2px 5px;

}

.header__line {
    background-color: var(--shadow-color);
    width: 60%;
    height: 2px;
}

@media (max-width: 900px) {
    .header__title {
        margin-top: 100px;
    }
}

@media (max-width: 550px) {
    .header__title {
        margin-top: 50px;
    }
}