@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

@import url(burger.css);
@import url(header.css);
@import url(about.css);
@import url(gallery.css);
@import url(contact-us.css);
@import url(footer.css);

:root {
  scroll-behavior: smooth;
  --text-color: #333;
  --card-color: #eceff1;
  --shadow-color: #cfd8dc;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}

img {
  display: block;
  width: 100%;
}

h1{
  font-family: 'EB Garamond', serif;
  color: #333;
  font-weight: 800;
  font-size: 4.5rem;
}

h2{
  font-family: 'EB Garamond', serif;
  font-weight: 800;
  font-size: 2rem;
}

@media (min-width: 500px){
  *{
    font-size: 12px;
  }
}

/*----------------------------------------------------------------------*/

.main {
  margin-top: 150px;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 1100px) {
  .main {
    margin-top: 100px;
  }
}

@media (max-width: 900px) {
  .main {
    margin-top: 80px;
  }
}

@media (max-width: 600px) {
  .main {
    margin-top: 60px;
  }
}

/*----------------------------------------------------------------------*/
